// main: ../style.less

.firms__title{
	font-weight: 800;
	font-size: 45px;
	line-height: 120%;
	color: @dark-blue;
	max-width: 700px;
	flex-basis: 75%;

}
.firms__inner{
	margin: 160px 0;
	padding-left: 135px;
	padding-right: 135px;
	padding-top: 80px;
	background-color: #fff;
	box-shadow: 0px 0px 20px fade(#000, 5%);
	border-radius: 22px;
}
.firms__top{
	display: flex;
	justify-content: space-between;
	position: relative;
}
.brands{
	display: flex;
	z-index: 15;
	flex-wrap: wrap;
	margin: 0 -85px;
	padding-top: 80px;
}
.brands__col{
	flex-basis: 25%;
	padding-left: 85px;
	margin-bottom: 80px;


}
.--last{
	display: none;

	}
.firms__img{
	z-index: 1;
	position: absolute;
	right: 0;
	top: 0;
	flex-basis: 25%;
	display: block;
	padding-left: 10px;
	width: 100%;
	max-width: 200px;
	height: auto;
}