// main: ../style.less

.firms__title{
	font-weight: 800;
	font-size: 45px;
	line-height: 120%;
	color: @dark-blue;
	max-width: 700px;
	flex-basis: 75%;

	@media @pcsmall{
		font-size: 35px;
		flex-basis: 100%;
	}
	@media @mobilebig{
		font-size: 25px;
	}
	@media @tablet{
		font-size: 30px;
	}

}
.firms__inner{
	margin: 160px 0;
	padding: 80px 135px;
	background-color: #fff;
	box-shadow: 0px 0px 20px fade(#000, 50%);
	border-radius: 22px;

	@media @pcsmall{
		margin: 100px 0;
	}

	@media @mobilebig{
		padding: 40px 75px;
	}
	@media @mobile{
		padding: 40px 45px;
	}
}
.firms__top{
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 100px;

	@media @pcsmall{
		margin-bottom: 80px;
	}

	@media @mobilebig{
		margin-bottom: 40px;
	}
	@media @tablet{
		margin-bottom: 40px;
	}
}
.brands{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1100px;
	align-items: flex-start;
}
.brands__col{
	flex:1 1 calc(25% - 30px);
	margin:10px;
	box-sizing:border-box;
	min-width:170px;
	padding: 10px;
	text-align: center;

	@media @pcsmall{
		flex:1 1 calc(33.33% - 30px);

	}
	@media @tablet{
		flex:1 1 calc(50% - 30px);
	}
	@media @mobilebig{
		padding: 0;
		min-width:130px;
	}

}
.--last{
	display: none;
	@media @pcsmall{
		display: block;
	}

	@media @tablet{
		display: none;
	}

	}
.firms__img{
	z-index: 1;
	position: absolute;
	right: 0;
	top: 0;
	flex-basis: 25%;
	display: block;
	padding-left: 10px;
	width: 100%;
	max-width: 200px;
	height: auto;
	@media @pcsmall{
		width: 150px;
	}
	@media @tablet{
		display: none;
	}
}