// main: ../style.less

.intro__inner{
display: flex;
position: relative;
}

.intro__content{
	width: 50%;
}


.intro__title{
	margin-top: 135px;
	margin-bottom: 40px;
	font-size: 55px;
	font-weight: 800;
	line-height: 120%;
	@media @tabletbig{
		font-size: 45px;
			}
	@media @tabletnormal{
		font-size: 35px;
		margin-top: 100px;
			}
	@media @tablet{
		font-size: 35px;
			}
}

.intro{
	width: 100%;
	padding-bottom: 15px;
	background-image: url("/../../img/bg-main.png");
	background-size: cover;
}
.intro__text{
	font-weight: 500;
	font-size: 22px;
	color:@lighter-blue ;
	line-height: 137%;

	@media @tabletbig{
		font-size: 20px;
			}
	@media @tabletnormal{
		font-size: 18px;
			}
	@media @tablet{
		font-size: 16px;
			}
}
.intro__photo{
	position: absolute;
	bottom: -35px;
	right: 0;

	width: 550px;
	transition: transform .3s linear;

	&:hover{
		transform: translateY(-10px);
	}

	@media @tabletbig{
		width: 500px;
		bottom: -50px;
	}
	@media @tabletnormal{
		width: 450px;
		bottom: -100px;
			}
	@media @tablet{
		width: 400px;
		bottom: -40px;
			}
}
