// main: ../style.less
.intro__bottom{
	display: flex;
	justify-content: space-between;
	padding-top: 75px;
}
.intro__item{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	color: #9E9C9C;
}