// main: ../style.less

.intro__inner{
display: flex;
position: relative;

@media @mobilebig{
	display: block;
}

}

.intro__content{

	margin-top: 135px;
	width: 50%;

	@media @tablet{
		margin-top: 100px;
		width: 55%;
	}
	@media @mobilebig{
		margin-top: 80px;
		width: 100%;
		text-align: center;
	}
	@media @mobile{
		margin-top: 60px;
	}
}


.intro__title{
	margin-bottom: 40px;
	font-size: 55px;
	font-weight: 800;
	line-height: 120%;
	@media @pcsmall{
		font-size: 40px;
	}
	@media @tablet{
		font-size: 35px;
	}
	@media @mobile{
		font-size: 25px;
		margin-bottom: 20px;
	}
}

.intro{
	width: 100%;
	padding-bottom: 15px;
	background-image: url("/../../img/bg-main.png");
	background-size: cover;
}
.intro__text{
	font-weight: 500;
	font-size: 22px;
	color:@lighter-blue ;
	line-height: 137%;

	@media @pcsmall{
		font-size: 18px;
	}
	@media @tablet{
		font-size: 16px;
	}
}

.intro__ph{
	@media @mobilebig{
		text-align: center;
		margin-top: 20px;
	}
}
.intro__photo{
	position: absolute;
	bottom: -35px;
	right: 0;

	width: 550px;
	transition: transform .3s linear;

	&:hover{
		transform: translateY(-10px);
	}

	@media @pcsmall{
		width: 450px;
	}
	@media @tablet{
		width: 341px;
		right: -25px;
		bottom: 5px;
	}
	@media @mobilebig{
		position: relative;
		width: 300px;
		left: -10px;
	}
	@media @mobile{
		display: none;
	}

}
