// main: ../style.less
.sendblock{
	padding: 120px 0;
	position: relative;
}
.connection{
	display: flex;
}
.connection__info{
	width: 43%;
	margin-top: 75px;
	position: relative;
}
.connection__form{
	width: 57%;
}
.connection__title{
	position: relative;
	z-index: 2;
	font-weight: 800;
	font-size: 45px;
	line-height: 120%;
	color: @dark-blue;
	margin-top: 110px;
	max-width: 250px;
}
.connection__subtitle{
	position: absolute;
	left: -5px;
	top: -30px;
	font-weight: 800;
	font-size: 300px;
	line-height: 120%;
	color: #F4F3F8;
	z-index: 1;
}
.icon {
	display: inline-block;
	width: 26px;
	height: 25px;
	background-size: cover;
	text-decoration: none;
	margin-right: 75px;

 }

 .icon-messanger{
	 background-image: url('../../img/messanger.svg');
	 &:hover,
	 &:focus {
			filter: invert(52%) sepia(77%) saturate(2939%) hue-rotate(184deg) brightness(96%) contrast(99%);
}
}
.icon-mail{

	width: 30px;
	height: 22px;
	background-image: url('../../img/gmail.svg');
	&:hover,
	&:focus {
		filter: invert(9%) sepia(100%) saturate(6755%) hue-rotate(12deg) brightness(99%) contrast(117%);
}
}
.icon-viber{background-image: url('../../img/viber\ default.svg');
	&:hover,
	&:focus {
		filter: invert(29%) sepia(79%) saturate(1585%) hue-rotate(251deg) brightness(83%) contrast(88%);
}
}


.connection__text{
	margin-top: 50px;
	max-width: 400px;
}

.icons{
	margin-top: 50px;
}
.icons__link{
	text-decoration: none;
}
